<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centro - Public Transportation</title>
  <link rel="stylesheet" href="static/styles.css">
  
</head>
<body>
  <header>
    <div class="header-container">
      <div class="nav-extra">
        <div class="menu-container" id="menuContainer">
          <button class="menu-btn" id="menuBtn">MENU</button>
          <ul class="dropdown-menu">
           
            <li class="dropdown-item">
              <a href="faq.html">FAQs</a>
            </li>
            <li class="dropdown-item">
              <a href="help.html">HELP</a>
            </li>            
            <li class="dropdown-item">
              <a href="team-d.html">OSWEGO TEAM</a></li>          
              </li>
          </ul>
          
        </div>
      </div>
      <div class="logo-container">
        <a href="index.html">
          <img src="logo.jpg" alt="Centro Logo">
        </a>
      </div>
    </div>
  </header>
    <div class="clear-box">
        <h2>ROUTES</h2>
        <div class="item"><a href="osw46.html">OSW46 - Oswego to Syracuse via </a></div>
      </div>    
</main>
<footer>
    <div class="footer-container">
      <div class="footer-info">
        <p>&copy; Oswego Team. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <script src="script.js"></script>
</body>
</html>
